# Configuración de node
NODE_ENV=development # usar production para stage/prod

# Configuración de la aplicación
APP_PORT=8000
API_VERSION=v1

# Configuración de la base de datos PostgreSQL y pgAdmin
POSTGRES_USER=admin
POSTGRES_PASSWORD=
POSTGRES_DB=visitas_virtuales_db
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5433/${POSTGRES_DB}

# Configuración de JWT para autenticación y autorización
JWT_SECRET=
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=7d
JWT_ISSUER=zaitec
JWT_AUDIENCE=zaitec-users

# Configuración de seguridad
BCRYPT_ROUNDS=10

# Configuración de CORS (React/Vite)
FRONTEND_URL=http://localhost:5173

# Configuración de MinIO para almacén de blobs
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=localhost # usar vv-minio para stage/prod
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_BUCKET_NAME=bucket1