# Configuración de node
NODE_ENV=development # usar production para stage/prod

# Configuración de la aplicación
APP_PORT=8000
API_VERSION=v1
API_BASE_URL=http://localhost:8000 # usar la URL pública del API para stage/prod
ADMIN_EMAIL=admin@visitasvirtuales.dedyn.io # Primer usuario insertado en la base de datos, con rol de admin
ADMIN_PASSWORD= 
RATE_LIMIT_WINDOW=5m
RATE_LIMIT_MAX=100
AUTH_RATE_LIMIT_WINDOW=15m
AUTH_RATE_LIMIT_MAX=20

# Configuración de la base de datos PostgreSQL y pgAdmin
POSTGRES_USER=admin
POSTGRES_PASSWORD=
POSTGRES_DB=visitas_virtuales_db
POSTGRES_HOST=localhost # usar postgres_service para stage/prod
POSTGRES_PORT=5432
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# Configuración de JWT para autenticación y autorización
JWT_SECRET=
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=7d
JWT_ISSUER=zaitec
JWT_AUDIENCE=zaitec-users

# Configuración de seguridad
BCRYPT_ROUNDS=10

# Configuración de CORS (React/Vite) - Se pueden configurar múltiples URLs separadas por comas
FRONTEND_URLS=http://localhost:5173

# Configuración de MinIO para almacé  n de blobs
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=localhost # usar vv-minio para stage/prod
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_BUCKET_NAME=bucket1