# Configuración de la base de datos PostgreSQL y pgAdmin
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres_service:5432/${POSTGRES_DB}
PGADMIN_DEFAULT_EMAIL=admin@visitasvirtuales.com
PGADMIN_DEFAULT_PASSWORD=

# Configuración de JWT para autenticación y autorización
JWT_SECRET=
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=7d
JWT_ISSUER=zaitec
JWT_AUDIENCE=zaitec-users